In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

In [2]:
df = pd.read_csv('Police_Department_Incident_Reports__Historical_2003_to_May_2018.csv')

In [13]:
df['Year'] = df.Date.apply(lambda entry: entry.split('/')[2])

In [67]:
df.head()

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId,Year
0,150060275,NON-CRIMINAL,LOST PROPERTY,Monday,01/19/2015,14:00,MISSION,NONE,18TH ST / VALENCIA ST,-122.421582,37.761701,"(37.7617007179518, -122.42158168137)",15006027571000,2015
1,150098210,ROBBERY,"ROBBERY, BODILY FORCE",Sunday,02/01/2015,15:45,TENDERLOIN,NONE,300 Block of LEAVENWORTH ST,-122.414406,37.784191,"(37.7841907151119, -122.414406029855)",15009821003074,2015
2,150098210,ASSAULT,AGGRAVATED ASSAULT WITH BODILY FORCE,Sunday,02/01/2015,15:45,TENDERLOIN,NONE,300 Block of LEAVENWORTH ST,-122.414406,37.784191,"(37.7841907151119, -122.414406029855)",15009821004014,2015
3,150098210,SECONDARY CODES,DOMESTIC VIOLENCE,Sunday,02/01/2015,15:45,TENDERLOIN,NONE,300 Block of LEAVENWORTH ST,-122.414406,37.784191,"(37.7841907151119, -122.414406029855)",15009821015200,2015
4,150098226,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM OF VEHICLES",Tuesday,01/27/2015,19:00,NORTHERN,NONE,LOMBARD ST / LAGUNA ST,-122.431119,37.800469,"(37.8004687042875, -122.431118543788)",15009822628160,2015

In [68]:
grouped_df = df[(df.Category == 'DRUNKENNESS') | (df.Category == 'DISORDERLY CONDUCT')].groupby(['PdDistrict', 'Year', 'Category']).size()

In [80]:
total_crime_grouped_df = df.groupby(['PdDistrict', 'Year']).size()

In [84]:
new_df = pd.DataFrame(columns = ['district', 'year', 'drunk_count', 'disorder_count', 'total_count'])

for district_index in df.PdDistrict.value_counts().index.sort_values():
    for year_index in df.Year.value_counts().index.sort_values():
        drunk_count = grouped_df[district_index][year_index]['DRUNKENNESS']
        disorder_count = grouped_df[district_index][year_index]['DISORDERLY CONDUCT']
        total_count = total_crime_grouped_df[district_index][year_index]
        
        new_df = new_df.append(pd.Series({'district' : district_index, 
                                          'year' : year_index, 
                                          'drunk_count' : drunk_count, 
                                          'disorder_count' : disorder_count, 
                                          'total_count' : total_count}), ignore_index = True)

In [85]:
new_df.to_csv('police_incident_district_year_category_count.csv')